<%= text_field_tag "sort", 'distance', type: 'hidden', order: 'asc' %>

<div id='outer_map' style='width: 100%; display: none; margin: 10px'>
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>
<div id="scheduler_options"></div>