<%#= render 'layouts/old_header' %>
                      <!-- <p>
                        Schedule Request Placed Successfully <strong>.<br>
                        <table style="box-sizing:border-box;border-collapse:collapse;width:825px;margin-bottom:1rem;background-color:transparent">
                            <thead style="box-sizing:border-box">
                              <tr style="box-sizing:border-box">
                                <th scope="col"
                                    style="text-align:left;box-sizing:border-box;padding:0.75rem;vertical-align:bottom;border-top:1px solid rgb(222,226,230);border-bottom:2px solid rgb(222,226,230)">
                                    Request Type
                                </th>
                                <th scope="col"
                                    style="text-align:left;box-sizing:border-box;padding:0.75rem;vertical-align:bottom;border-top:1px solid rgb(222,226,230);border-bottom:2px solid rgb(222,226,230)">
                                    Delivery Date
                                </th>
                                <th scope="col"
                                    style="text-align:left;box-sizing:border-box;padding:0.75rem;vertical-align:bottom;border-top:1px solid rgb(222,226,230);border-bottom:2px solid rgb(222,226,230)">
                                    Type
                                </th>
                                <th scope="col"
                                    style="text-align:left;box-sizing:border-box;padding:0.75rem;vertical-align:bottom;border-top:1px solid rgb(222,226,230);border-bottom:2px solid rgb(222,226,230)">
                                    Meal Count
                                </th>
                                <th scope="col"
                                    style="text-align:left;box-sizing:border-box;padding:0.75rem;vertical-align:bottom;border-top:1px solid rgb(222,226,230);border-bottom:2px solid rgb(222,226,230)">
                                    Delivery Address
                                </th>
                                <th scope="col"
                                    style="text-align:left;box-sizing:border-box;padding:0.75rem;vertical-align:bottom;border-top:1px solid rgb(222,226,230);border-bottom:2px solid rgb(222,226,230)">
                                    Cuisine Preferrence
                                </th>
                                <th scope="col"
                                    style="text-align:left;box-sizing:border-box;padding:0.75rem;vertical-align:bottom;border-top:1px solid rgb(222,226,230);border-bottom:2px solid rgb(222,226,230)">
                                    Customer Company
                                </th>
                                <th scope="col"
                                    style="text-align:left;box-sizing:border-box;padding:0.75rem;vertical-align:bottom;border-top:1px solid rgb(222,226,230);border-bottom:2px solid rgb(222,226,230)">
                                    Customer Name
                                </th>
                                <th scope="col"
                                    style="box-sizing:border-box;padding:0.75rem;vertical-align:bottom;border-top:1px solid rgb(222,226,230);border-bottom:2px solid rgb(222,226,230)">
                                </th>
                              </tr>
                            </thead>
                            <tbody style="box-sizing:border-box">
                              <tr style="box-sizing:border-box">
                                <td style="box-sizing:border-box;padding:0.75rem;vertical-align:top;border-top:1px solid rgb(222,226,230)">
                                  <%# if @runningmenu_request.recurring? %>
                                    <%#= "Recurring" %>
                                  <%# else %>
                                    <%#= "One Time" %>
                                  <%# end %>

                                </td>
                                <td style="box-sizing:border-box;padding:0.75rem;vertical-align:top;border-top:1px solid rgb(222,226,230)">
                                    <%#= @runningmenu_request.delivery_at_timezone %>
                                </td>
                                <td style="box-sizing:border-box;padding:0.75rem;vertical-align:top;border-top:1px solid rgb(222,226,230)">
                                    <%#= @runningmenu_request.runningmenu_request_type %>
                                </td>
                                <td style="box-sizing:border-box;padding:0.75rem;vertical-align:top;border-top:1px solid rgb(222,226,230)">
                                    <%#= @runningmenu_request.orders %>
                                </td>
                                <td style="box-sizing:border-box;padding:0.75rem;vertical-align:top;border-top:1px solid rgb(222,226,230)">
                                    <%#= @runningmenu_request.address.name %>
                                </td>
                                <td style="box-sizing:border-box;padding:0.75rem;vertical-align:top;border-top:1px solid rgb(222,226,230)">
                                    <%#= @runningmenu_request.cuisines.map(&:name).join(',') %>
                                </td>
                                <td style="box-sizing:border-box;padding:0.75rem;vertical-align:top;border-top:1px solid rgb(222,226,230)">
                                    <%#= @runningmenu_request.user.company.name %>
                                </td>
                                <td style="box-sizing:border-box;padding:0.75rem;vertical-align:top;border-top:1px solid rgb(222,226,230)">
                                    <%#= @runningmenu_request.user.name %>
                                </td>
                                <td style="box-sizing:border-box;padding:0.75rem;vertical-align:top;border-top:1px solid rgb(222,226,230)">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </p> -->
                      <!-- </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html> -->
