<script type="text/javascript">
// (function() {
//   $('#chat_modal').css({
//     'display': 'block'
//   });

// }).call(this);
//  App.cable.subscriptions.create({channel: 'DriversChannel', driver_id: driver_id })
</script>

<h1>heading</h1>