<li class="break"></li>
<li class="ingredient_label">
  Ingredients:
</li>
<li class="check_list">
  <% ingredients.each do |ingredient| %>
    <span class="checks"> <%= ingredient.name %></span>
  <% end %>
</li>
