<%= render 'layouts/header' %>
    <h2>You Receipt From Chowmill</h2>
    <p>
      Chowmill has charged your card for the following purchases.
      <br><br>
      Below is a list of your purchases.
    </p>
    <%= render 'layouts/card_charged_common' %>
<%= render 'layouts/footer' %>
