<div class="chat_modal" id="chat_modal" style="display: none" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Chat Modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          <div class="modal-body">

            <div class="chat">
            	<div>Lets chat!</div>
              <div class="messages">
                <!-- <div class="message">
                  <span class="user">User:</span> Let's chat!
                </div> -->
              </div>
              </br>
              </br>
              </br>
              <input type="text" id="message" placeholder="Enter your message..." />
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary bsModalClose" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="send">Send</button>
          </div>
        </div>
      </div>
    </div>

<!-- <div class="chat_modal" id="chat_modal" style="display: none"><div class="modal-dialog modal-dialog-centered" role="document"><div class="modal-content"><div class="modal-header">Chat Modal<span class="bsModalClose"><em class="fa fa-times"></em></span></div><div class="modal-body"><div class="chat"><div>Lets chat!</div><div class="messages"></div></div></div><div class="modal-footer"><div class="senderPart"><input type="text" id="message" class="bsInput" placeholder="Enter your message..." autofocus /><button type="button" class="bsInput" id="send">Send</button></div></div></div></div></div> -->