                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>

<style type="text/css">
    body {
        width: 100% !important;
    }
    .ReadMsgBody {
        width: 100%;
    }
    .ExternalClass {
        width: 100%;
    }
    body {
        -webkit-text-size-adjust: none;
    }
    body {
        margin: 0; padding: 0;
    }
    img {
        border: 0; outline: none; text-decoration: none;
    }
    #backgroundTable {
        height: 100% !important; margin: 0; padding: 0; width: 100% !important;
    }
    #backgroundTable {
        color: #4c4c4c; background-color: #ffffff; font-family: proxima-nova, 'helvetica neue', helvetica, arial, geneva, sans-serif; font-size: 15px; line-height: 150%;
    }
    @media (max-width: 540px) {
        #templateContainer {
            width: 100% !important;
        }
        #templateContainer .templateContainerPadding {
            padding: 0 5% !important;
        }
    }
</style>
</body>
</html>