<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=helvetica:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <style>
    p,a{
        font-family: 'helvetica', sans-serif;
    }
  </style>
</head>
<body style="margin: 0; padding:0; box-sizing: border-box;text-align: center;">
    <center
		style="width: 100%;max-width: 700px; margin: auto; table-layout: fixed; padding-bottom:60px; background-color: #F4F7FF;">
		<table style=" margin: 0 auto; width: 100%;max-width: 700px;border-spacing:0;">
			<tr style="background: url('<%= ENV['CLOUDFRONT_URL']%>/icons/bg.png'); background-repeat: no-repeat;  background-position-x: center; background-size: auto; width: 100%;"><!-- background url path here -->
        <td>
          <table style="width: 100%; padding: 10px 0;">
            <tr>
              <td style="text-align:center; font-size: 0;">
                <div style="display: flex; align-items: center; justify-content: space-between; width: 84%; margin: auto; padding:10px 0; text-align: left; ">
                  <%= image_tag("#{ENV['CLOUDFRONT_URL']}/logos/chowmill-logo-grey.png", alt: 'Chowmill') %> <!-- image url path here -->
